@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Shadows Into Light", cursive;
}

body {
  background: #fefae0;

  nav {
    overflow: hidden;
    background-color: #283618;
    position: relative;
    display: flex;
    color: #fefae0;
    justify-content: space-around;
    align-items: center;
    button{
      background-color: #bc6c25;
      border-radius: 1rem;
    }

      a {
        padding: 14px 16px;
        font-size: 17px;
        color: white;
        text-decoration: none;

    }

      display: flex;

        a {
          padding: 14px 16px;
          font-size: 17px;
          display: block;
          color: #fefae0;
        }


  }
  h2 {
    text-align: center;
    color: #283618;
  }
  .hike_container {
    background-color: #bc6c25;
    margin: 20px;
    border-radius: 20px;
    padding: 10px;

    div {
      margin-left: 20px;
    }

    #hike_name {
      font-size: 25px;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
      display: flex;
      align-content: center;
      width: 5rem;
    }
  }
  footer{
    background-color: #283618;
    color: #fefae0;
    a{
      text-decoration: none;
      color: #fefae0;
    }
  }

  @media (min-width: 600px) {
  }
}
