.userspage {
  width: 60vw;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border: 2px solid #bc6c25;
  border-radius: 1rem;
  padding: 1rem;
}
.userlistsearch{
  display: flex;
  justify-content: center;
  align-items: center;
  input{
    border: #bc6c25 2px solid;
    margin: 0.5rem;
    border-radius: 1rem;
    min-height: 3rem;
    background-color: #bc6c25;
    color: #fefae0;

  }
  button{
    border: #bc6c25 2px solid;
    border-radius: 1rem;
    min-height: 3rem;
    background-color: #bc6c25;
    color: #fefae0;
  }
}


.listing_user {
  ul {
    li {
      margin: 0.5rem;
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      border: #283618 1px solid;
      border-radius: 1rem;
      .curd_user{
          padding: 0.5rem;
          margin: 1rem;
          border: #283618 1px solid;
        border-radius: 1rem;

      }
    }
  }
}

